:root {
    --primary-color: #FFA69E;
    --secondary-color: #9effbe;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
}

#title, #subtitle {
    text-align: center;
}

#form {
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 2% 0 2%;
}

#form div {
    padding: 2%;
}

input[type="radio"] {
    color: var(--secondary-color);
    cursor: pointer;
    accent-color: var(--secondary-color);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    background: var(--secondary-color);
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    background: var(--primary-color);
    cursor: pointer;
    -webkit-appearance: none;
}

button {
    border: none;
    padding: 1%;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

button:active {
    background-color: white;
}